.mainContainer{
    border: 1px solid rgb(205, 205, 205);
    box-shadow: 0 5px 30px -10px rgb(88, 88, 88);
    transition: transform 0.3s ease-in-out;
    transition: 0.3s;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    padding: 20px;
    color: #fdcb6e;
}
.mainContainer:hover{
    background-color: #fdcb6e;
    color: white;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
