input, select{
    border-radius: 50px;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 15px;
}
label {
    padding-bottom: 5px;
    font-weight: 500;
}

span {
    font-size: 14px;
    color: #ff7675;
}

.mainContainer{
    padding: 50px 40px;
    max-width: 500px;
    margin: 0 auto;
}

.container{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sendButton{
    background-color: #ffeaa7;
    border: 2px solid transparent;
    padding: 5px 10px 5px 10px;
    color: black;
    border-radius: 50px;
    transition: all 0.2s;
    font-size: large;
}
.sendButton:hover{
    background-color: #fdcb6e;
    cursor: pointer;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.delete{
    height: 30px;
    width: 30px;
}
.delete:hover{
    cursor: pointer;
}
.selectedContainer{
    padding: 5px;
    margin: 20px;
    max-width: 100px;
    max-height: 100px;
}
.mainSelectedContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5px;
}
.countryImg{
    width: 30px;
    height: 30px;
    border-radius: 99999px;
}
/* .name{
    overflow: 'hidden';
    white-space: 'nowrap'; 
    text-overflow: 'ellipsis';
} */